extends layout
include buslist
include header
include filters

block content
  +header(backUrl, title)
  if filter == 'all' && showFilters
    +filters(thisUrl, filterTitle, staleTitle, oosTitle, showRetiredFilter)
  +buslist(buses, true, true)
  div(class='tableCount') #{totalCount} bus#{totalCount != 1 ? 'es' : ''}