extends layout
include header

block content
  +header(backUrl, title, subtitle)
  ul
    each garage in garages
      li
        a(href=`/roster/${garage.sticker}`)
          h4 #{garage.name} Garage &raquo;
          span #{garage.busCount} bus#{garage.busCount != 1 ? 'es' : ''}