doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css?v=4')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='/script.js?v=2')
  body
    main
      block content
